.sd-root-modern a {
  color: #008A1C;
}

.sv-custom-back-button {
  margin-top: 1.0rem;
}


.sd-question__required-text,
.sd-panel__required-text {
  display: inline-block;
  background-color: #008A1C;
  border-radius: 3px;
  color: #fff;
  font-size: .8rem !important;
  padding: .1rem .5rem;
  margin-left: .5rem;
}

/*
.sd-root-modern:not(.svc-tab-designer) .sd-selectbase[role="radiogroup"],
.sd-root-modern:not(.svc-tab-designer) .sd-selectbase[role="listbox"] {
  display: flex;
  flex-wrap: wrap;
}
.sd-root-modern:not(.svc-tab-designer) .sd-selectbase__item,
.sd-root-modern:not(.svc-tab-designer) .sd-custom-choices-column-1-col .sd-selectbase__item {
  width: 100%;
}
.sd-root-modern:not(.svc-tab-designer) .sd-custom-choices-column-2-cols .sd-selectbase__item {
  width: 50%;
}
.sd-root-modern--full-container:not(.svc-tab-designer) .sd-custom-choices-column-resp-2-cols .sd-selectbase__item {
  width: 50%;
}
.sd-root-modern--mobile:not(.svc-tab-designer) .sd-custom-choices-column-resp-2-cols .sd-selectbase__item {
  width: 100%;
}
*/

.sd-root-modern--full-container .sd-description .sv-string-viewer.sv-string-viewer--multiline {
  white-space: normal;
}
.sd-root-modern--full-container .sd-description ul,
.sd-root-modern--full-container .sd-description ol,
.sd-root-modern--full-container .sd-description p {
  margin-top: 0.5rem;
}
.sd-root-modern--full-container .sd-description h3,
.sd-root-modern--full-container .sd-description h4 {
  margin-bottom: 0.5rem;
}

.sd-root-modern--full-container .sd-custom-survey-info {
  background-color: rgba(243, 243, 243, 1);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
}

.tos-container {
  border: 1px solid #ccc;
  height: 10rem;
  width: 100%;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  overflow: auto;
  padding: 1rem;
}
